# dependencies
node_modules

# environment variables
.env
.env.*
!.env.example

# next.js build output
.next/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local development files
.DS_Store
*.pem

# typescript
*.tsbuildinfo
